@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.grid-s {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  gap: 2rem;
}

@media (max-width: 567px) {
  .grid-s {
    grid-template-columns: 1fr;
  }

  .grid-f {
    grid-template-columns: 1fr !important;
  }

  .grid-d {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-f {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.grid-d {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
